@font-face {
  font-family: "Young Serif";
  font-style: normal;
  src: local(""), url("./assets/fonts/young-serif/YoungSerif-Regular.ttf");
}
@font-face {
  font-family: "Outfit";
  font-style: normal;
  src: local(""), url("./assets/fonts/outfit/Outfit-VariableFont_wght.ttf");
}
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
  margin: 0;
  padding: 0;
}

/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: hsl(30, 54%, 90%);
  font-family: "Outfit", sans-serif;
}

/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}

/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2 {
  font-family: "Young Serif", serif;
}

h2,
h3 {
  color: hsl(14, 45%, 36%);
}

/*
    8. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 100%);
  width: 100%;
}
main ol,
main ul {
  color: hsl(332, 51%, 32%);
}
main ol li p,
main ul li p {
  color: black;
}

img {
  width: 100%;
}

hr {
  margin: 2rem 0;
}

hgroup:first-of-type h1 {
  font-size: 2rem;
}

.content-wrapper {
  padding: 2rem;
}
.content-wrapper p {
  margin: 1.5rem 0 1.5rem 0;
}

.prep-wrapper {
  margin: 1rem 0;
  padding: 1.5rem;
  background-color: hsl(330, 100%, 98%);
  border-radius: 0.8rem;
}
.prep-wrapper h3 {
  color: hsl(332, 51%, 32%);
}
.prep-wrapper ul {
  padding: 1.5rem;
}
.prep-wrapper ul li {
  padding-left: 1rem;
  margin: 0.5rem 0;
}
.prep-wrapper ul li span {
  font-weight: bold;
}

.ingredients-wrapper {
  border-bottom: 0.5px solid grey;
  padding: 1rem 0;
}
.ingredients-wrapper ul {
  padding: 1.5rem;
}
.ingredients-wrapper ul li {
  padding-left: 1rem;
  margin: 1rem 0;
}

.instructions-wrapper {
  border-bottom: 0.5px solid grey;
  padding: 1rem 0;
}
.instructions-wrapper ol {
  padding: 1.5rem;
  color: hsl(332, 51%, 32%);
  font-weight: bold;
}
.instructions-wrapper ol li {
  padding-left: 1rem;
}
.instructions-wrapper ol li p {
  color: black;
  font-weight: normal;
  margin: 0.5rem 0;
}
.instructions-wrapper ol span {
  color: black;
  font-weight: bold;
}

.nutrition-wrapper {
  padding: 1rem 0;
}
.nutrition-wrapper ul {
  list-style: none;
}
.nutrition-wrapper ul li {
  border-bottom: 0.5px solid black;
  padding: 1rem 2rem;
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.nutrition-wrapper ul li span {
  width: 100%;
  max-width: 50%;
  color: black;
}
.nutrition-wrapper ul li span:nth-child(2) {
  margin-left: 3.5rem;
  color: hsl(14, 45%, 36%);
  font-weight: 700;
}
.nutrition-wrapper ul li:last-of-type {
  border: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 768px) {
  main {
    width: 100%;
    max-width: 700px;
    margin: 5rem auto;
    border-radius: 1rem;
  }
  img {
    padding: 1rem;
    border-radius: 1.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
